<%= form_for @image_sum, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="row">
    <div class="span4">
      <div class="control-group">
        <%= f.label :first_image, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :first_image, :class => 'file_field img-polaroid' %>
        </div>
      </div>
    </div>
    <div class="span4 second_image">
      <div class="control-group">
        <%= f.label :second_image, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :second_image, :class => 'file_field img-polaroid' %>
        </div>
      </div>
    </div>

    <div class="span4 equal_to_image">
      <div class="control-group">
        <%= f.label :equal_to_image, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :equal_to_image, :class => 'file_field img-polaroid' %>
        </div>
      </div>
    </div>
 </div>

  <div class="form-actions">
    <%= f.submit 'Create Image', :class => 'btn btn-primary' %>
  </div>
<% end %>
