<%- model_class = ImageSum -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<%= image_tag @image_sum.equal_to.url, class: 'img-polaroid' %>

<div class='well'>
  <%= social_share_button_tag %>
</div>
