<%- model_class = ImageSum -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dd><%= image_tag @image_sum.equal_to.url %></dd>
</dl>

<%= social_share_button_tag %>
