// Place all the styles related to the image_sum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form .row {
  background: url('/sumatoria.png') no-repeat;
  height: 250px;
}
form .control-group .controls {
  padding-top: 72px;
  margin-left: 3%;
}

form .span4 {
  width: 250px
}

form .span4 .img-polaroid {
  padding: 50px 5px;
  margin-left: 0;
  width: 200px;
}

form .second_image {
  margin-left: 98px;
}

form .equal_to_image {
  margin-left: 110px;
  width: 140px;
}
